@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;


h1,h2,h3,h4,h5,h6 {
  font-family: 'Port Lligat Slab', serif;
}

body {
  font-family: 'Poppins', sans-serif;
}